src/GCModeller/data/WebServices/Service References/NCBI.eUtils/eutils.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:nseg="http://www.ncbi.nlm.nih.gov/soap/eutils/egquery" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:nsei="http://www.ncbi.nlm.nih.gov/soap/eutils/einfo" xmlns:nsel="http://www.ncbi.nlm.nih.gov/soap/eutils/elink" xmlns:s0="http://www.ncbi.nlm.nih.gov/soap/eutils/" xmlns:nseps="http://www.ncbi.nlm.nih.gov/soap/eutils/epost" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:nsesp="http://www.ncbi.nlm.nih.gov/soap/eutils/espell" xmlns:nsese="http://www.ncbi.nlm.nih.gov/soap/eutils/esearch" xmlns:nsesu="http://www.ncbi.nlm.nih.gov/soap/eutils/esummary" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.ncbi.nlm.nih.gov/soap/eutils/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.ncbi.nlm.nih.gov/soap/eutils/egquery" elementFormDefault="qualified" targetNamespace="http://www.ncbi.nlm.nih.gov/soap/eutils/egquery">
      <xs:element name="Result">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Term" type="xs:string" />
            <xs:element name="eGQueryResult" type="tns:eGQueryResultType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ResultItemType">
        <xs:sequence>
          <xs:element name="DbName" type="xs:string" />
          <xs:element name="MenuName" type="xs:string" />
          <xs:element name="Count" type="xs:string" />
          <xs:element name="Status" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eGQueryResultType">
        <xs:sequence>
          <xs:element minOccurs="0" name="ERROR" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="ResultItem" type="tns:ResultItemType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="term" type="xs:string" />
      <xs:element name="tool" type="xs:string" />
      <xs:element name="email" type="xs:string" />
      <xs:element name="eGqueryRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:term" />
            <xs:element minOccurs="0" ref="tns:tool" />
            <xs:element minOccurs="0" ref="tns:email" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://www.ncbi.nlm.nih.gov/soap/eutils/einfo" elementFormDefault="qualified" targetNamespace="http://www.ncbi.nlm.nih.gov/soap/eutils/einfo">
      <xs:complexType name="DbInfoType">
        <xs:sequence>
          <xs:element name="DbName" type="xs:string" />
          <xs:element name="MenuName" type="xs:string" />
          <xs:element name="Description" type="xs:string" />
          <xs:element name="Count" type="xs:string" />
          <xs:element name="LastUpdate" type="xs:string" />
          <xs:element name="FieldList" type="tns:FieldListType" />
          <xs:element minOccurs="0" name="LinkList" type="tns:LinkListType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DbListType">
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="DbName" type="xs:string" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="FieldType">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="FullName" type="xs:string" />
          <xs:element name="Description" type="xs:string" />
          <xs:element name="TermCount" type="xs:string" />
          <xs:element name="IsDate" type="xs:string" />
          <xs:element name="IsNumerical" type="xs:string" />
          <xs:element name="SingleToken" type="xs:string" />
          <xs:element name="Hierarchy" type="xs:string" />
          <xs:element name="IsHidden" type="xs:string" />
          <xs:element minOccurs="0" name="IsRangable" type="xs:string" />
          <xs:element minOccurs="0" name="IsTruncatable" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FieldListType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="tns:FieldType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LinkType">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Menu" type="xs:string" />
          <xs:element name="Description" type="xs:string" />
          <xs:element name="DbTo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LinkListType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Link" type="tns:LinkType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="db" type="xs:string" />
      <xs:element name="tool" type="xs:string" />
      <xs:element name="email" type="xs:string" />
      <xs:element name="eInfoRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:db" />
            <xs:element minOccurs="0" ref="tns:tool" />
            <xs:element minOccurs="0" ref="tns:email" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="eInfoResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ERROR" type="xs:string" />
            <xs:element minOccurs="0" name="DbList" type="tns:DbListType" />
            <xs:element minOccurs="0" name="DbInfo" type="tns:DbInfoType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://www.ncbi.nlm.nih.gov/soap/eutils/esearch" elementFormDefault="qualified" targetNamespace="http://www.ncbi.nlm.nih.gov/soap/eutils/esearch">
      <xs:element name="Count" type="xs:string" />
      <xs:element name="ERROR" type="xs:string" />
      <xs:element name="Explode" type="xs:string" />
      <xs:element name="FieldNotFound" type="xs:string" />
      <xs:element name="From" type="xs:string" />
      <xs:element name="Id" type="xs:string" />
      <xs:element name="OutputMessage" type="xs:string" />
      <xs:element name="PhraseIgnored" type="xs:string" />
      <xs:element name="PhraseNotFound" type="xs:string" />
      <xs:element name="QueryKey" type="xs:string" />
      <xs:element name="QueryTranslation" type="xs:string" />
      <xs:element name="QuotedPhraseNotFound" type="xs:string" />
      <xs:element name="RetMax" type="xs:string" />
      <xs:element name="RetStart" type="xs:string" />
      <xs:element name="To" type="xs:string" />
      <xs:element name="WebEnv" type="xs:string" />
      <xs:complexType name="ErrorListType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:PhraseNotFound" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:FieldNotFound" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IdListType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Id" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TermSetType">
        <xs:sequence>
          <xs:element name="Term" type="xs:string" />
          <xs:element name="Field" type="xs:string" />
          <xs:element ref="tns:Count" />
          <xs:element ref="tns:Explode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TranslationType">
        <xs:sequence>
          <xs:element ref="tns:From" />
          <xs:element ref="tns:To" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TranslationSetType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Translation" type="tns:TranslationType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TranslationStackType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="TermSet" type="tns:TermSetType" />
          <xs:element name="OP" type="xs:string" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="WarningListType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:PhraseIgnored" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:QuotedPhraseNotFound" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:OutputMessage" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="eSearchResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:ERROR" />
            <xs:element minOccurs="0" ref="tns:Count" />
            <xs:element minOccurs="0" ref="tns:RetMax" />
            <xs:element minOccurs="0" ref="tns:RetStart" />
            <xs:element minOccurs="0" ref="tns:QueryKey" />
            <xs:element minOccurs="0" ref="tns:WebEnv" />
            <xs:element minOccurs="0" name="IdList" type="tns:IdListType" />
            <xs:element minOccurs="0" name="TranslationSet" type="tns:TranslationSetType" />
            <xs:element minOccurs="0" name="TranslationStack" type="tns:TranslationStackType" />
            <xs:element minOccurs="0" ref="tns:QueryTranslation" />
            <xs:element minOccurs="0" name="ErrorList" type="tns:ErrorListType" />
            <xs:element minOccurs="0" name="WarningList" type="tns:WarningListType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="db" type="xs:string" />
      <xs:element name="term" type="xs:string" />
      <xs:element name="usehistory" type="xs:string" />
      <xs:element name="tool" type="xs:string" />
      <xs:element name="email" type="xs:string" />
      <xs:element name="field" type="xs:string" />
      <xs:element name="reldate" type="xs:string" />
      <xs:element name="mindate" type="xs:string" />
      <xs:element name="maxdate" type="xs:string" />
      <xs:element name="datetype" type="xs:string" />
      <xs:element name="rettype" type="xs:string" />
      <xs:element name="sort" type="xs:string" />
      <xs:element name="eSearchRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:db" />
            <xs:element minOccurs="0" ref="tns:term" />
            <xs:element minOccurs="0" ref="tns:WebEnv" />
            <xs:element minOccurs="0" ref="tns:QueryKey" />
            <xs:element minOccurs="0" ref="tns:usehistory" />
            <xs:element minOccurs="0" ref="tns:tool" />
            <xs:element minOccurs="0" ref="tns:email" />
            <xs:element minOccurs="0" ref="tns:field" />
            <xs:element minOccurs="0" ref="tns:reldate" />
            <xs:element minOccurs="0" ref="tns:mindate" />
            <xs:element minOccurs="0" ref="tns:maxdate" />
            <xs:element minOccurs="0" ref="tns:datetype" />
            <xs:element minOccurs="0" ref="tns:RetStart" />
            <xs:element minOccurs="0" ref="tns:RetMax" />
            <xs:element minOccurs="0" ref="tns:rettype" />
            <xs:element minOccurs="0" ref="tns:sort" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://www.ncbi.nlm.nih.gov/soap/eutils/esummary" elementFormDefault="qualified" targetNamespace="http://www.ncbi.nlm.nih.gov/soap/eutils/esummary">
      <xs:complexType name="DocSumType">
        <xs:sequence>
          <xs:element name="Id" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" type="tns:ItemType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ItemType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" type="tns:ItemType" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemContent" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required" />
        <xs:attribute name="Type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="Integer" />
              <xs:enumeration value="Date" />
              <xs:enumeration value="String" />
              <xs:enumeration value="Structure" />
              <xs:enumeration value="List" />
              <xs:enumeration value="Flags" />
              <xs:enumeration value="Qualifier" />
              <xs:enumeration value="Enumerator" />
              <xs:enumeration value="Unknown" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:complexType>
      <xs:element name="eSummaryResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ERROR" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="DocSum" type="tns:DocSumType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="db" type="xs:string" />
      <xs:element name="id" type="xs:string" />
      <xs:element name="WebEnv" type="xs:string" />
      <xs:element name="query_key" type="xs:string" />
      <xs:element name="retstart" type="xs:string" />
      <xs:element name="retmax" type="xs:string" />
      <xs:element name="tool" type="xs:string" />
      <xs:element name="email" type="xs:string" />
      <xs:element name="eSummaryRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:db" />
            <xs:element minOccurs="0" ref="tns:id" />
            <xs:element minOccurs="0" ref="tns:WebEnv" />
            <xs:element minOccurs="0" ref="tns:query_key" />
            <xs:element minOccurs="0" ref="tns:retstart" />
            <xs:element minOccurs="0" ref="tns:retmax" />
            <xs:element minOccurs="0" ref="tns:tool" />
            <xs:element minOccurs="0" ref="tns:email" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://www.ncbi.nlm.nih.gov/soap/eutils/elink" elementFormDefault="qualified" targetNamespace="http://www.ncbi.nlm.nih.gov/soap/eutils/elink">
      <xs:element name="Attribute" type="xs:string" />
      <xs:element name="Category" type="xs:string" />
      <xs:element name="DbFrom" type="xs:string" />
      <xs:element name="DbTo" type="xs:string" />
      <xs:element name="ERROR" type="xs:string" />
      <xs:element name="FirstChar" type="xs:string" />
      <xs:complexType name="FirstCharsType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:FirstChar" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="HtmlTag" type="xs:string" />
      <xs:complexType name="IconUrlType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute default="EN" name="LNG">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="DA" />
                  <xs:enumeration value="DE" />
                  <xs:enumeration value="EN" />
                  <xs:enumeration value="EL" />
                  <xs:enumeration value="ES" />
                  <xs:enumeration value="FR" />
                  <xs:enumeration value="IT" />
                  <xs:enumeration value="IW" />
                  <xs:enumeration value="JA" />
                  <xs:enumeration value="NL" />
                  <xs:enumeration value="NO" />
                  <xs:enumeration value="RU" />
                  <xs:enumeration value="SV" />
                  <xs:enumeration value="ZH" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="IdType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="HasLinkOut">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="Y" />
                  <xs:enumeration value="N" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="HasNeighbor">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="Y" />
                  <xs:enumeration value="N" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="IdCheckListType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Id" type="tns:IdType" />
            <xs:element name="IdLinkSet" type="tns:IdLinkSetType" />
          </xs:choice>
          <xs:element minOccurs="0" ref="tns:ERROR" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IdLinkSetType">
        <xs:sequence>
          <xs:element name="Id" type="tns:IdType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="LinkInfo" type="tns:LinkInfoType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IdListType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Id" type="tns:IdType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IdUrlListType">
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="IdUrlSet" type="tns:IdUrlSetType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="FirstChars" type="tns:FirstCharsType" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="IdUrlSetType">
        <xs:sequence>
          <xs:element name="Id" type="tns:IdType" />
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="ObjUrl" type="tns:ObjUrlType" />
            <xs:element ref="tns:Info" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Info" type="xs:string" />
      <xs:complexType name="LinkType">
        <xs:sequence>
          <xs:element name="Id" type="tns:IdType" />
          <xs:element minOccurs="0" ref="tns:Score" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LinkInfoType">
        <xs:sequence>
          <xs:element ref="tns:DbTo" />
          <xs:element ref="tns:LinkName" />
          <xs:element minOccurs="0" ref="tns:MenuTag" />
          <xs:element minOccurs="0" ref="tns:HtmlTag" />
          <xs:element minOccurs="0" name="Url" type="tns:UrlType" />
          <xs:element ref="tns:Priority" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="LinkName" type="xs:string" />
      <xs:complexType name="LinkSetType">
        <xs:sequence>
          <xs:element ref="tns:DbFrom" />
          <xs:element minOccurs="0" name="IdList" type="tns:IdListType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="LinkSetDb" type="tns:LinkSetDbType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="LinkSetDbHistory" type="tns:LinkSetDbHistoryType" />
          <xs:element minOccurs="0" ref="tns:WebEnv" />
          <xs:element minOccurs="0" name="IdUrlList" type="tns:IdUrlListType" />
          <xs:element minOccurs="0" name="IdCheckList" type="tns:IdCheckListType" />
          <xs:element minOccurs="0" ref="tns:ERROR" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LinkSetDbType">
        <xs:sequence>
          <xs:element ref="tns:DbTo" />
          <xs:element name="LinkName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Link" type="tns:LinkType" />
          <xs:element minOccurs="0" ref="tns:Info" />
          <xs:element minOccurs="0" ref="tns:ERROR" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LinkSetDbHistoryType">
        <xs:sequence>
          <xs:element ref="tns:DbTo" />
          <xs:element ref="tns:LinkName" />
          <xs:element ref="tns:QueryKey" />
          <xs:element ref="tns:Info" />
          <xs:element minOccurs="0" ref="tns:ERROR" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="MenuTag" type="xs:string" />
      <xs:element name="Name" type="xs:string" />
      <xs:element name="NameAbbr" type="xs:string" />
      <xs:complexType name="ObjUrlType">
        <xs:sequence>
          <xs:element name="Url" type="tns:UrlType" />
          <xs:element minOccurs="0" name="IconUrl" type="tns:IconUrlType" />
          <xs:element minOccurs="0" ref="tns:LinkName" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:SubjectType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Category" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Attribute" />
          <xs:element name="Provider" type="tns:ProviderType" />
          <xs:element minOccurs="0" ref="tns:SubProvider" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Priority" type="xs:string" />
      <xs:complexType name="ProviderType">
        <xs:sequence>
          <xs:element ref="tns:Name" />
          <xs:element ref="tns:NameAbbr" />
          <xs:element name="Id" type="tns:IdType" />
          <xs:element name="Url" type="tns:UrlType" />
          <xs:element minOccurs="0" name="IconUrl" type="tns:IconUrlType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="QueryKey" type="xs:string" />
      <xs:element name="Score" type="xs:string" />
      <xs:element name="SubProvider" type="xs:string" />
      <xs:element name="SubjectType" type="xs:string" />
      <xs:complexType name="UrlType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute default="EN" name="LNG">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="DA" />
                  <xs:enumeration value="DE" />
                  <xs:enumeration value="EN" />
                  <xs:enumeration value="EL" />
                  <xs:enumeration value="ES" />
                  <xs:enumeration value="FR" />
                  <xs:enumeration value="IT" />
                  <xs:enumeration value="IW" />
                  <xs:enumeration value="JA" />
                  <xs:enumeration value="NL" />
                  <xs:enumeration value="NO" />
                  <xs:enumeration value="RU" />
                  <xs:enumeration value="SV" />
                  <xs:enumeration value="ZH" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:element name="eLinkResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="LinkSet" type="tns:LinkSetType" />
            <xs:element minOccurs="0" ref="tns:ERROR" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="db" type="xs:string" />
      <xs:element name="id" type="xs:string" />
      <xs:element name="reldate" type="xs:string" />
      <xs:element name="mindate" type="xs:string" />
      <xs:element name="maxdate" type="xs:string" />
      <xs:element name="datetype" type="xs:string" />
      <xs:element name="term" type="xs:string" />
      <xs:element name="dbfrom" type="xs:string" />
      <xs:element name="WebEnv" type="xs:string" />
      <xs:element name="query_key" type="xs:string" />
      <xs:element name="cmd" type="xs:string" />
      <xs:element name="tool" type="xs:string" />
      <xs:element name="email" type="xs:string" />
      <xs:element name="linkname" type="xs:string" />
      <xs:element name="eLinkRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:db" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:id" />
            <xs:element minOccurs="0" ref="tns:reldate" />
            <xs:element minOccurs="0" ref="tns:mindate" />
            <xs:element minOccurs="0" ref="tns:maxdate" />
            <xs:element minOccurs="0" ref="tns:datetype" />
            <xs:element minOccurs="0" ref="tns:term" />
            <xs:element minOccurs="0" ref="tns:dbfrom" />
            <xs:element minOccurs="0" ref="tns:linkname" />
            <xs:element minOccurs="0" ref="tns:WebEnv" />
            <xs:element minOccurs="0" ref="tns:query_key" />
            <xs:element minOccurs="0" ref="tns:cmd" />
            <xs:element minOccurs="0" ref="tns:tool" />
            <xs:element minOccurs="0" ref="tns:email" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://www.ncbi.nlm.nih.gov/soap/eutils/espell" elementFormDefault="qualified" targetNamespace="http://www.ncbi.nlm.nih.gov/soap/eutils/espell">
      <xs:element name="CorrectedQuery" type="xs:string" />
      <xs:element name="Database" type="xs:string" />
      <xs:element name="ERROR" type="xs:string" />
      <xs:element name="Original" type="xs:string" />
      <xs:element name="Query" type="xs:string" />
      <xs:element name="Replaced" type="xs:string" />
      <xs:element name="SpelledQuery">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="tns:Replaced" />
            <xs:element ref="tns:Original" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="eSpellResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:Database" />
            <xs:element ref="tns:Query" />
            <xs:element ref="tns:CorrectedQuery" />
            <xs:element ref="tns:SpelledQuery" />
            <xs:element ref="tns:ERROR" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="db" type="xs:string" />
      <xs:element name="term" type="xs:string" />
      <xs:element name="tool" type="xs:string" />
      <xs:element name="email" type="xs:string" />
      <xs:element name="eSpellRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:db" />
            <xs:element minOccurs="0" ref="tns:term" />
            <xs:element minOccurs="0" ref="tns:tool" />
            <xs:element minOccurs="0" ref="tns:email" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://www.ncbi.nlm.nih.gov/soap/eutils/epost" elementFormDefault="qualified" targetNamespace="http://www.ncbi.nlm.nih.gov/soap/eutils/epost">
      <xs:complexType name="InvalidIdListType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ePostResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="InvalidIdList" type="tns:InvalidIdListType" />
            <xs:element minOccurs="0" name="QueryKey" type="xs:string" />
            <xs:element minOccurs="0" name="WebEnv" type="xs:string" />
            <xs:element minOccurs="0" name="ERROR" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="db" type="xs:string" />
      <xs:element name="id" type="xs:string" />
      <xs:element name="WebEnv" type="xs:string" />
      <xs:element name="tool" type="xs:string" />
      <xs:element name="email" type="xs:string" />
      <xs:element name="ePostRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:db" />
            <xs:element minOccurs="0" ref="tns:id" />
            <xs:element minOccurs="0" ref="tns:WebEnv" />
            <xs:element minOccurs="0" ref="tns:tool" />
            <xs:element minOccurs="0" ref="tns:email" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="eGqueryRequest_m">
    <wsdl:part name="request" element="nseg:eGqueryRequest" />
  </wsdl:message>
  <wsdl:message name="eGqueryResponse_m">
    <wsdl:part name="result" element="nseg:Result" />
  </wsdl:message>
  <wsdl:message name="eInfoRequest_m">
    <wsdl:part name="request" element="nsei:eInfoRequest" />
  </wsdl:message>
  <wsdl:message name="eInfoResponse_m">
    <wsdl:part name="result" element="nsei:eInfoResult" />
  </wsdl:message>
  <wsdl:message name="eSearchRequest_m">
    <wsdl:part name="request" element="nsese:eSearchRequest" />
  </wsdl:message>
  <wsdl:message name="eSearchResponse_m">
    <wsdl:part name="result" element="nsese:eSearchResult" />
  </wsdl:message>
  <wsdl:message name="eSummaryRequest_m">
    <wsdl:part name="request" element="nsesu:eSummaryRequest" />
  </wsdl:message>
  <wsdl:message name="eSummaryResponse_m">
    <wsdl:part name="result" element="nsesu:eSummaryResult" />
  </wsdl:message>
  <wsdl:message name="eLinkRequest_m">
    <wsdl:part name="request" element="nsel:eLinkRequest" />
  </wsdl:message>
  <wsdl:message name="eLinkResponse_m">
    <wsdl:part name="result" element="nsel:eLinkResult" />
  </wsdl:message>
  <wsdl:message name="eSpellRequest_m">
    <wsdl:part name="request" element="nsesp:eSpellRequest" />
  </wsdl:message>
  <wsdl:message name="eSpellResponse_m">
    <wsdl:part name="result" element="nsesp:eSpellResult" />
  </wsdl:message>
  <wsdl:message name="ePostRequest_m">
    <wsdl:part name="request" element="nseps:ePostRequest" />
  </wsdl:message>
  <wsdl:message name="ePostResponse_m">
    <wsdl:part name="result" element="nseps:ePostResult" />
  </wsdl:message>
  <wsdl:portType name="eUtilsServiceSoap">
    <wsdl:operation name="run_eGquery">
      <wsdl:input message="s0:eGqueryRequest_m" />
      <wsdl:output message="s0:eGqueryResponse_m" />
    </wsdl:operation>
    <wsdl:operation name="run_eInfo">
      <wsdl:input message="s0:eInfoRequest_m" />
      <wsdl:output message="s0:eInfoResponse_m" />
    </wsdl:operation>
    <wsdl:operation name="run_eSearch">
      <wsdl:input message="s0:eSearchRequest_m" />
      <wsdl:output message="s0:eSearchResponse_m" />
    </wsdl:operation>
    <wsdl:operation name="run_eSummary">
      <wsdl:input message="s0:eSummaryRequest_m" />
      <wsdl:output message="s0:eSummaryResponse_m" />
    </wsdl:operation>
    <wsdl:operation name="run_eLink">
      <wsdl:input message="s0:eLinkRequest_m" />
      <wsdl:output message="s0:eLinkResponse_m" />
    </wsdl:operation>
    <wsdl:operation name="run_eSpell">
      <wsdl:input message="s0:eSpellRequest_m" />
      <wsdl:output message="s0:eSpellResponse_m" />
    </wsdl:operation>
    <wsdl:operation name="run_ePost">
      <wsdl:input message="s0:ePostRequest_m" />
      <wsdl:output message="s0:ePostResponse_m" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eUtilsServiceSoap" type="s0:eUtilsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="run_eGquery">
      <soap:operation soapAction="egquery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="run_eInfo">
      <soap:operation soapAction="einfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="run_eSearch">
      <soap:operation soapAction="esearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="run_eSummary">
      <soap:operation soapAction="esummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="run_eLink">
      <soap:operation soapAction="elink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="run_eSpell">
      <soap:operation soapAction="espell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="run_ePost">
      <soap:operation soapAction="epost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eUtilsService">
    <wsdl:port name="eUtilsServiceSoap" binding="s0:eUtilsServiceSoap">
      <soap:address location="http://eutils.ncbi.nlm.nih.gov/soap/v2.0/soap_adapter_2_0.cgi" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>