src/GCModeller/Bio.DBI/ExternalDBSource/WebServices/Service References/WSDbfetchDoclitServerServices/WSDbfetchDoclit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://www.ebi.ac.uk/ws/services/WSDbfetchDoclit" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://www.ebi.ac.uk/ws/services/WSDbfetchDoclit" targetNamespace="http://www.ebi.ac.uk/ws/services/WSDbfetchDoclit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ebi.ac.uk/ws/services/WSDbfetchDoclit">
      <xsd:element name="getSupportedDBs">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getSupportedDBsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getSupportedDBsReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupportedFormats">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getSupportedFormatsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getSupportedFormatsReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupportedStyles">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getSupportedStylesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getSupportedStylesReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDatabaseInfoList">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getDatabaseInfoListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getDatabaseInfoListReturn" type="impl:DatabaseInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DataResourceInfo">
        <xsd:sequence>
          <xsd:element name="href" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DataResourceInfoList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="dataResourceInfo" type="impl:DataResourceInfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExampleIdentifiersInfo">
        <xsd:sequence>
          <xsd:element name="accessionList" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="accession" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="entryVersionList" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="entryVersion" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="idList" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="id" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="nameList" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="name" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="sequenceVersionList" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="sequenceVersion" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="StyleInfo">
        <xsd:sequence>
          <xsd:element name="mimeType" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="StyleInfoList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="styleInfo" type="impl:StyleInfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FormatInfo">
        <xsd:sequence>
          <xsd:element name="aliases" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="alias" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="dataTerms" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="dataTerm" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="styleInfoList" nillable="true" type="impl:StyleInfoList" />
          <xsd:element name="syntaxTerms" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="syntaxTerm" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FormatInfoList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="formatInfo" type="impl:FormatInfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DatabaseInfo">
        <xsd:sequence>
          <xsd:element name="aliasList" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="alias" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="databaseTerms" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="databaseTerm" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="dataResourceInfoList" nillable="true" type="impl:DataResourceInfoList" />
          <xsd:element name="defaultFormat" nillable="true" type="xsd:string" />
          <xsd:element name="description" nillable="true" type="xsd:string" />
          <xsd:element name="displayName" nillable="true" type="xsd:string" />
          <xsd:element name="exampleIdentifiers" nillable="true" type="impl:ExampleIdentifiersInfo" />
          <xsd:element name="formatInfoList" nillable="true" type="impl:FormatInfoList" />
          <xsd:element name="href" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getDatabaseInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="db" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDatabaseInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getDatabaseInfoReturn" type="impl:DatabaseInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DbfException">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="DbfParamsException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="impl:DbfException">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="fault" type="impl:DbfParamsException" />
      <xsd:element name="getDbFormats">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="db" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDbFormatsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getDbFormatsReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFormatInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="db" type="xsd:string" />
            <xsd:element name="format" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFormatInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getFormatInfoReturn" type="impl:FormatInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFormatStyles">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="db" type="xsd:string" />
            <xsd:element name="format" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFormatStylesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getFormatStylesReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStyleInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="db" type="xsd:string" />
            <xsd:element name="format" type="xsd:string" />
            <xsd:element name="style" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStyleInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getStyleInfoReturn" type="impl:StyleInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="query" type="xsd:string" />
            <xsd:element name="format" type="xsd:string" />
            <xsd:element name="style" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fetchDataReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DbfConnException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="impl:DbfException">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="fault1" type="impl:DbfConnException" />
      <xsd:complexType name="DbfNoEntryFoundException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="impl:DbfException">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="fault2" type="impl:DbfNoEntryFoundException" />
      <xsd:element name="fault3" type="impl:DbfException" />
      <xsd:complexType name="InputException">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="fault4" type="impl:InputException" />
      <xsd:element name="fetchBatch">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="db" type="xsd:string" />
            <xsd:element name="ids" type="xsd:string" />
            <xsd:element name="format" type="xsd:string" />
            <xsd:element name="style" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchBatchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fetchBatchReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getStyleInfoRequest">
    <wsdl:part name="parameters" element="impl:getStyleInfo" />
  </wsdl:message>
  <wsdl:message name="getDatabaseInfoListRequest">
    <wsdl:part name="parameters" element="impl:getDatabaseInfoList" />
  </wsdl:message>
  <wsdl:message name="getSupportedDBsResponse">
    <wsdl:part name="parameters" element="impl:getSupportedDBsResponse" />
  </wsdl:message>
  <wsdl:message name="fetchBatchRequest">
    <wsdl:part name="parameters" element="impl:fetchBatch" />
  </wsdl:message>
  <wsdl:message name="getSupportedStylesResponse">
    <wsdl:part name="parameters" element="impl:getSupportedStylesResponse" />
  </wsdl:message>
  <wsdl:message name="getFormatInfoResponse">
    <wsdl:part name="parameters" element="impl:getFormatInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DbfNoEntryFoundException">
    <wsdl:part name="fault2" element="impl:fault2" />
  </wsdl:message>
  <wsdl:message name="DbfException">
    <wsdl:part name="fault3" element="impl:fault3" />
  </wsdl:message>
  <wsdl:message name="getFormatStylesRequest">
    <wsdl:part name="parameters" element="impl:getFormatStyles" />
  </wsdl:message>
  <wsdl:message name="getDbFormatsResponse">
    <wsdl:part name="parameters" element="impl:getDbFormatsResponse" />
  </wsdl:message>
  <wsdl:message name="getSupportedStylesRequest">
    <wsdl:part name="parameters" element="impl:getSupportedStyles" />
  </wsdl:message>
  <wsdl:message name="DbfConnException">
    <wsdl:part name="fault1" element="impl:fault1" />
  </wsdl:message>
  <wsdl:message name="getFormatInfoRequest">
    <wsdl:part name="parameters" element="impl:getFormatInfo" />
  </wsdl:message>
  <wsdl:message name="getDatabaseInfoListResponse">
    <wsdl:part name="parameters" element="impl:getDatabaseInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="getSupportedDBsRequest">
    <wsdl:part name="parameters" element="impl:getSupportedDBs" />
  </wsdl:message>
  <wsdl:message name="getStyleInfoResponse">
    <wsdl:part name="parameters" element="impl:getStyleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getDbFormatsRequest">
    <wsdl:part name="parameters" element="impl:getDbFormats" />
  </wsdl:message>
  <wsdl:message name="getSupportedFormatsResponse">
    <wsdl:part name="parameters" element="impl:getSupportedFormatsResponse" />
  </wsdl:message>
  <wsdl:message name="DbfParamsException">
    <wsdl:part name="fault" element="impl:fault" />
  </wsdl:message>
  <wsdl:message name="InputException">
    <wsdl:part name="fault4" element="impl:fault4" />
  </wsdl:message>
  <wsdl:message name="getDatabaseInfoResponse">
    <wsdl:part name="parameters" element="impl:getDatabaseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getFormatStylesResponse">
    <wsdl:part name="parameters" element="impl:getFormatStylesResponse" />
  </wsdl:message>
  <wsdl:message name="fetchBatchResponse">
    <wsdl:part name="parameters" element="impl:fetchBatchResponse" />
  </wsdl:message>
  <wsdl:message name="fetchDataResponse">
    <wsdl:part name="parameters" element="impl:fetchDataResponse" />
  </wsdl:message>
  <wsdl:message name="fetchDataRequest">
    <wsdl:part name="parameters" element="impl:fetchData" />
  </wsdl:message>
  <wsdl:message name="getDatabaseInfoRequest">
    <wsdl:part name="parameters" element="impl:getDatabaseInfo" />
  </wsdl:message>
  <wsdl:message name="getSupportedFormatsRequest">
    <wsdl:part name="parameters" element="impl:getSupportedFormats" />
  </wsdl:message>
  <wsdl:portType name="WSDBFetchServer">
    <wsdl:operation name="getSupportedDBs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a list of available databases (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getsupporteddbs).   </wsdl:documentation>
      <wsdl:input name="getSupportedDBsRequest" message="impl:getSupportedDBsRequest" />
      <wsdl:output name="getSupportedDBsResponse" message="impl:getSupportedDBsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSupportedFormats">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a list of databases and formats (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getsupportedformats).   </wsdl:documentation>
      <wsdl:input name="getSupportedFormatsRequest" message="impl:getSupportedFormatsRequest" />
      <wsdl:output name="getSupportedFormatsResponse" message="impl:getSupportedFormatsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSupportedStyles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Deprecated: use getFormatStyles() or getDatabaseInfo(). Get a list of databases, formats and styles (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getsupportedstyles).   </wsdl:documentation>
      <wsdl:input name="getSupportedStylesRequest" message="impl:getSupportedStylesRequest" />
      <wsdl:output name="getSupportedStylesResponse" message="impl:getSupportedStylesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDatabaseInfoList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get detailed information about the available databases (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getdatabaseinfolist).   </wsdl:documentation>
      <wsdl:input name="getDatabaseInfoListRequest" message="impl:getDatabaseInfoListRequest" />
      <wsdl:output name="getDatabaseInfoListResponse" message="impl:getDatabaseInfoListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDatabaseInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get detailed information about a database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getdatabaseinfo_db).   </wsdl:documentation>
      <wsdl:input name="getDatabaseInfoRequest" message="impl:getDatabaseInfoRequest" />
      <wsdl:output name="getDatabaseInfoResponse" message="impl:getDatabaseInfoResponse" />
      <wsdl:fault name="DbfParamsException" message="impl:DbfParamsException" />
    </wsdl:operation>
    <wsdl:operation name="getDbFormats">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a list of formats for a given database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getdbformats_db).   </wsdl:documentation>
      <wsdl:input name="getDbFormatsRequest" message="impl:getDbFormatsRequest" />
      <wsdl:output name="getDbFormatsResponse" message="impl:getDbFormatsResponse" />
      <wsdl:fault name="DbfParamsException" message="impl:DbfParamsException" />
    </wsdl:operation>
    <wsdl:operation name="getFormatInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get detailed information about a format of a database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getformatinfo_db_format).   </wsdl:documentation>
      <wsdl:input name="getFormatInfoRequest" message="impl:getFormatInfoRequest" />
      <wsdl:output name="getFormatInfoResponse" message="impl:getFormatInfoResponse" />
      <wsdl:fault name="DbfParamsException" message="impl:DbfParamsException" />
    </wsdl:operation>
    <wsdl:operation name="getFormatStyles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a list of available styles for a given database and format (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getformatstyles_db_format).   </wsdl:documentation>
      <wsdl:input name="getFormatStylesRequest" message="impl:getFormatStylesRequest" />
      <wsdl:output name="getFormatStylesResponse" message="impl:getFormatStylesResponse" />
      <wsdl:fault name="DbfParamsException" message="impl:DbfParamsException" />
    </wsdl:operation>
    <wsdl:operation name="getStyleInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get detailed information about a style of a format of a database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getstyleinfo_db_format_style).   </wsdl:documentation>
      <wsdl:input name="getStyleInfoRequest" message="impl:getStyleInfoRequest" />
      <wsdl:output name="getStyleInfoResponse" message="impl:getStyleInfoResponse" />
      <wsdl:fault name="DbfParamsException" message="impl:DbfParamsException" />
    </wsdl:operation>
    <wsdl:operation name="fetchData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a database entry (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#fetchdata_query_format_style).   </wsdl:documentation>
      <wsdl:input name="fetchDataRequest" message="impl:fetchDataRequest" />
      <wsdl:output name="fetchDataResponse" message="impl:fetchDataResponse" />
      <wsdl:fault name="DbfConnException" message="impl:DbfConnException" />
      <wsdl:fault name="DbfException" message="impl:DbfException" />
      <wsdl:fault name="DbfParamsException" message="impl:DbfParamsException" />
      <wsdl:fault name="DbfNoEntryFoundException" message="impl:DbfNoEntryFoundException" />
      <wsdl:fault name="InputException" message="impl:InputException" />
    </wsdl:operation>
    <wsdl:operation name="fetchBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a set of database entries (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#fetchbatch_db_ids_format_style).   </wsdl:documentation>
      <wsdl:input name="fetchBatchRequest" message="impl:fetchBatchRequest" />
      <wsdl:output name="fetchBatchResponse" message="impl:fetchBatchResponse" />
      <wsdl:fault name="DbfConnException" message="impl:DbfConnException" />
      <wsdl:fault name="DbfException" message="impl:DbfException" />
      <wsdl:fault name="DbfParamsException" message="impl:DbfParamsException" />
      <wsdl:fault name="DbfNoEntryFoundException" message="impl:DbfNoEntryFoundException" />
      <wsdl:fault name="InputException" message="impl:InputException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDbfetchDoclitSoapBinding" type="impl:WSDBFetchServer">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSupportedDBs">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSupportedDBsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSupportedDBsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedFormats">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSupportedFormatsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSupportedFormatsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedStyles">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSupportedStylesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSupportedStylesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatabaseInfoList">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getDatabaseInfoListRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDatabaseInfoListResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatabaseInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getDatabaseInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDatabaseInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DbfParamsException">
        <wsdlsoap:fault use="literal" name="DbfParamsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDbFormats">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getDbFormatsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDbFormatsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DbfParamsException">
        <wsdlsoap:fault use="literal" name="DbfParamsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFormatInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getFormatInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getFormatInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DbfParamsException">
        <wsdlsoap:fault use="literal" name="DbfParamsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFormatStyles">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getFormatStylesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getFormatStylesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DbfParamsException">
        <wsdlsoap:fault use="literal" name="DbfParamsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStyleInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getStyleInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStyleInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DbfParamsException">
        <wsdlsoap:fault use="literal" name="DbfParamsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="fetchDataRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="fetchDataResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DbfConnException">
        <wsdlsoap:fault use="literal" name="DbfConnException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DbfException">
        <wsdlsoap:fault use="literal" name="DbfException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DbfParamsException">
        <wsdlsoap:fault use="literal" name="DbfParamsException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DbfNoEntryFoundException">
        <wsdlsoap:fault use="literal" name="DbfNoEntryFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputException">
        <wsdlsoap:fault use="literal" name="InputException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchBatch">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="fetchBatchRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="fetchBatchResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DbfConnException">
        <wsdlsoap:fault use="literal" name="DbfConnException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DbfException">
        <wsdlsoap:fault use="literal" name="DbfException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DbfParamsException">
        <wsdlsoap:fault use="literal" name="DbfParamsException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DbfNoEntryFoundException">
        <wsdlsoap:fault use="literal" name="DbfNoEntryFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputException">
        <wsdlsoap:fault use="literal" name="InputException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDBFetchDoclitServerService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
WSDbfetch: entry retrieval using entry identifiers or accession numbers for 
various biological databases, including EMBL-Bank, InterPro, MEDLINE, Patent 
Proteins, PDB, RefSeq, UniParc, UniProtKB and UniRef.

Note: this is a document/literal wrapped SOAP interface to the WSDbfetch service, for 
other interfaces please see the documentation 
(http://www.ebi.ac.uk/Tools/webservices/services/dbfetch).  </wsdl:documentation>
    <wsdl:port name="WSDbfetchDoclit" binding="impl:WSDbfetchDoclitSoapBinding">
      <wsdlsoap:address location="http://www.ebi.ac.uk/ws/services/WSDbfetchDoclit" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>