src/GCModeller/data/WebServices/Service References/WSDbfetch/WSDbfetch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://www.ebi.ac.uk/ws/services/WSDbfetch" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://exceptions.jdbfetch.ebi.ac.uk" xmlns:impl="http://www.ebi.ac.uk/ws/services/WSDbfetch" targetNamespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebi.ac.uk/ws/services/WSDbfetch">
      <xsd:import namespace="http://exceptions.jdbfetch.ebi.ac.uk" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_xsd_string">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="InputException">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://exceptions.jdbfetch.ebi.ac.uk">
      <xsd:import namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="DbfException">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="DbfParamsException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:DbfException">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DbfConnException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:DbfException">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DbfNoEntryFoundException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:DbfException">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DbfParamsException">
    <wsdl:part name="fault" type="tns1:DbfParamsException" />
  </wsdl:message>
  <wsdl:message name="DbfConnException">
    <wsdl:part name="fault" type="tns1:DbfConnException" />
  </wsdl:message>
  <wsdl:message name="getSupportedStylesResponse">
    <wsdl:part name="getSupportedStylesReturn" type="impl:ArrayOf_xsd_string">
      <wsdl:documentation>
List of databases with result style names.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchBatchResponse">
    <wsdl:part name="fetchBatchReturn" type="xsd:string">
      <wsdl:documentation>
Entries data as a string.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFormatStylesResponse">
    <wsdl:part name="getFormatStylesReturn" type="impl:ArrayOf_xsd_string">
      <wsdl:documentation>
List of result style names.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InputException">
    <wsdl:part name="fault" type="impl:InputException" />
  </wsdl:message>
  <wsdl:message name="getFormatStylesRequest">
    <wsdl:part name="db" type="xsd:string">
      <wsdl:documentation>
Database name.   </wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="format" type="xsd:string">
      <wsdl:documentation>
Data format name.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedFormatsRequest" />
  <wsdl:message name="getSupportedDBsResponse">
    <wsdl:part name="getSupportedDBsReturn" type="impl:ArrayOf_xsd_string">
      <wsdl:documentation>
List of database names.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchDataRequest">
    <wsdl:part name="query" type="xsd:string">
      <wsdl:documentation>
Entry identifier in DB:ID format.   </wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="format" type="xsd:string">
      <wsdl:documentation>
Data format name.   </wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="style" type="xsd:string">
      <wsdl:documentation>
Result style name.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DbfException">
    <wsdl:part name="fault" type="tns1:DbfException" />
  </wsdl:message>
  <wsdl:message name="fetchBatchRequest">
    <wsdl:part name="db" type="xsd:string">
      <wsdl:documentation>
Database name.   </wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="ids" type="xsd:string">
      <wsdl:documentation>
Comma or space separated list of entry identifiers.   </wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="format" type="xsd:string">
      <wsdl:documentation>
Data format name.   </wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="style" type="xsd:string">
      <wsdl:documentation>
Result style name.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedStylesRequest" />
  <wsdl:message name="fetchDataResponse">
    <wsdl:part name="fetchDataReturn" type="xsd:string">
      <wsdl:documentation>
Entry data as a string.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDbFormatsRequest">
    <wsdl:part name="db" type="xsd:string">
      <wsdl:documentation>
Database name.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DbfNoEntryFoundException">
    <wsdl:part name="fault" type="tns1:DbfNoEntryFoundException" />
  </wsdl:message>
  <wsdl:message name="getDbFormatsResponse">
    <wsdl:part name="getDbFormatsReturn" type="impl:ArrayOf_xsd_string">
      <wsdl:documentation>
List of data format names.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedFormatsResponse">
    <wsdl:part name="getSupportedFormatsReturn" type="impl:ArrayOf_xsd_string">
      <wsdl:documentation>
List of databases with data format names.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedDBsRequest" />
  <wsdl:portType name="WSDBFetchServer">
    <wsdl:operation name="getDbFormats" parameterOrder="db">
      <wsdl:documentation>
Get a list of formats for a given database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getdbformats_db).   </wsdl:documentation>
      <wsdl:input name="getDbFormatsRequest" message="impl:getDbFormatsRequest" />
      <wsdl:output name="getDbFormatsResponse" message="impl:getDbFormatsResponse" />
      <wsdl:fault name="DbfParamsException" message="impl:DbfParamsException" />
    </wsdl:operation>
    <wsdl:operation name="fetchData" parameterOrder="query format style">
      <wsdl:documentation>
Get a database entry (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#fetchdata_query_format_style).   </wsdl:documentation>
      <wsdl:input name="fetchDataRequest" message="impl:fetchDataRequest" />
      <wsdl:output name="fetchDataResponse" message="impl:fetchDataResponse" />
      <wsdl:fault name="InputException" message="impl:InputException" />
      <wsdl:fault name="DbfParamsException" message="impl:DbfParamsException" />
      <wsdl:fault name="DbfException" message="impl:DbfException" />
      <wsdl:fault name="DbfNoEntryFoundException" message="impl:DbfNoEntryFoundException" />
      <wsdl:fault name="DbfConnException" message="impl:DbfConnException" />
    </wsdl:operation>
    <wsdl:operation name="fetchBatch" parameterOrder="db ids format style">
      <wsdl:documentation>
Get a set of database entries (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#fetchbatch_db_ids_format_style).   </wsdl:documentation>
      <wsdl:input name="fetchBatchRequest" message="impl:fetchBatchRequest" />
      <wsdl:output name="fetchBatchResponse" message="impl:fetchBatchResponse" />
      <wsdl:fault name="InputException" message="impl:InputException" />
      <wsdl:fault name="DbfParamsException" message="impl:DbfParamsException" />
      <wsdl:fault name="DbfException" message="impl:DbfException" />
      <wsdl:fault name="DbfNoEntryFoundException" message="impl:DbfNoEntryFoundException" />
      <wsdl:fault name="DbfConnException" message="impl:DbfConnException" />
    </wsdl:operation>
    <wsdl:operation name="getSupportedDBs">
      <wsdl:documentation>
Get a list of available databases (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getsupporteddbs).   </wsdl:documentation>
      <wsdl:input name="getSupportedDBsRequest" message="impl:getSupportedDBsRequest" />
      <wsdl:output name="getSupportedDBsResponse" message="impl:getSupportedDBsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSupportedFormats">
      <wsdl:documentation>
Get a list of databases and formats (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getsupportedformats).   </wsdl:documentation>
      <wsdl:input name="getSupportedFormatsRequest" message="impl:getSupportedFormatsRequest" />
      <wsdl:output name="getSupportedFormatsResponse" message="impl:getSupportedFormatsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFormatStyles" parameterOrder="db format">
      <wsdl:documentation>
Get a list of available styles for a format of a database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getformatstyles_db_format).   </wsdl:documentation>
      <wsdl:input name="getFormatStylesRequest" message="impl:getFormatStylesRequest" />
      <wsdl:output name="getFormatStylesResponse" message="impl:getFormatStylesResponse" />
      <wsdl:fault name="DbfParamsException" message="impl:DbfParamsException" />
    </wsdl:operation>
    <wsdl:operation name="getSupportedStyles">
      <wsdl:documentation>
Deprecated: use getFormatStyles(). Get a list of databases and styles (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#fetchdata_query_format_style).   </wsdl:documentation>
      <wsdl:input name="getSupportedStylesRequest" message="impl:getSupportedStylesRequest" />
      <wsdl:output name="getSupportedStylesResponse" message="impl:getSupportedStylesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDbfetchSoapBinding" type="impl:WSDBFetchServer">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getDbFormats">
      <wsdl:documentation>
Get a list of formats for a given database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getdbformats_db).   </wsdl:documentation>
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getDbFormatsRequest">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getDbFormatsResponse">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="DbfParamsException">
        <wsdlsoap:fault use="encoded" name="DbfParamsException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchData">
      <wsdl:documentation>
Get a database entry (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#fetchdata_query_format_style).   </wsdl:documentation>
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="fetchDataRequest">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="fetchDataResponse">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="InputException">
        <wsdlsoap:fault use="encoded" name="InputException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="DbfParamsException">
        <wsdlsoap:fault use="encoded" name="DbfParamsException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="DbfException">
        <wsdlsoap:fault use="encoded" name="DbfException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="DbfNoEntryFoundException">
        <wsdlsoap:fault use="encoded" name="DbfNoEntryFoundException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="DbfConnException">
        <wsdlsoap:fault use="encoded" name="DbfConnException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchBatch">
      <wsdl:documentation>
Get a set of database entries (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#fetchbatch_db_ids_format_style).   </wsdl:documentation>
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="fetchBatchRequest">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="fetchBatchResponse">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="InputException">
        <wsdlsoap:fault use="encoded" name="InputException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="DbfParamsException">
        <wsdlsoap:fault use="encoded" name="DbfParamsException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="DbfException">
        <wsdlsoap:fault use="encoded" name="DbfException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="DbfNoEntryFoundException">
        <wsdlsoap:fault use="encoded" name="DbfNoEntryFoundException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="DbfConnException">
        <wsdlsoap:fault use="encoded" name="DbfConnException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedDBs">
      <wsdl:documentation>
Get a list of available databases (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getsupporteddbs).   </wsdl:documentation>
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSupportedDBsRequest">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getSupportedDBsResponse">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedFormats">
      <wsdl:documentation>
Get a list of databases and formats (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getsupportedformats).   </wsdl:documentation>
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSupportedFormatsRequest">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getSupportedFormatsResponse">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFormatStyles">
      <wsdl:documentation>
Get a list of available styles for a format of a database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getformatstyles_db_format).   </wsdl:documentation>
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getFormatStylesRequest">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getFormatStylesResponse">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="DbfParamsException">
        <wsdlsoap:fault use="encoded" name="DbfParamsException" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedStyles">
      <wsdl:documentation>
Get a list of databases and styles (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#fetchdata_query_format_style).   </wsdl:documentation>
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSupportedStylesRequest">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getSupportedStylesResponse">
        <wsdlsoap:body use="encoded" namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDBFetchServerService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

WSDbfetch: entry retrieval using entry identifiers or accession numbers for 
various biological databases, including EMBL-Bank, InterPro, MEDLINE, Patent 
Proteins, PDB, RefSeq, UniParc, UniProtKB and UniRef.

Note: this is an RPC/encoded SOAP interface to the WSDbfetch service, for 
other interfaces please see the documentation 
(http://www.ebi.ac.uk/Tools/webservices/services/dbfetch).
    </wsdl:documentation>
    <wsdl:port name="WSDbfetch" binding="impl:WSDbfetchSoapBinding">
      <wsdlsoap:address location="http://www.ebi.ac.uk/ws/services/WSDbfetch" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>